#aftercombat div h3, #aftercombat h1{
	margin:0em;
}

#aftercombat>div{
	margin:10px 0px;
}

#aftercombat #rewardexperience{
	float:right;
	padding:5px;
	width:66%;
	max-width:400px;
}

#aftercombat #rewardexperience .bar{
	margin-right:5px;
	float:left;
	clear:left;
	height:10px;
	width:60%;
	background-color:#999;
	position:relative;
	top:3px;
}

#aftercombat #combatlog{
	clear:both;
}

#aftercombat #combatlog>table{
	padding:5px;
	width:75%;
	max-width:500px;
}

#aftercombat #combatlog h3+div{
	overflow:auto;
	max-height:150px;
}

#aftercombat #rewardexperience>div{
	margin:1px;
}

#aftercombat  p{
	margin:0px;
}

#aftercombat .barfill{
	border-color:#999;
	border-width:1px 0px 1px 1px;
	left:-1px;
}

#aftercombat .increase.barfill{
	border-width:1px 1px 1px 0px;
}