#combat #skillrepository{
	width:80%;
}

#combat #skillrepository .repository{
	margin:0px;
/*	border:1px solid #333;
	background-color:#ddd;*/
}

#combat #skillrepository .tab{
	float:left;
	width:84px;
/*	background-color:#ccc;
	border:1px solid #333;*/
	margin:-1px 2px 0px 2px;
	text-align:center;
}

#combat #skillrepository .first.tab{
	clear:both;
}
/*
#skillrepository .selected.tab{
	background-color: #ddd;
	border-top:0px;
}*/

#combat #skillrepository .last.tab{
	float:right;
}

.repository img{
	/*width:24px;
	height:24px;*/
	float:left;
	border:1px solid #666;
	background-color:#ddd;
	margin:2px;
}

.repository img:hover{
	border-width: 2px;
	border-color: #333;
	margin:0px 2px 2px 0px;
	cursor:pointer;
}

.repository img.scroll{
	background-color:transparent;
	border:0px;
	margin:2px;
}

.repository img.unavailable{
	background-color:#666;
	border-color:#333;
}

.repository img.last{
	float:none;
}

.terrain{
	float:left;
	height:24px;
	width:24px;
	border:1px solid #333;
	margin:0px 3px 0px 3px;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.good.terrain{
	background-color:#ccc;
}

.neutral.terrain{
	background-color:#999;
}

.bad.terrain{
	background-color:#666;
}

.terrain.startcombat{
	background-image:url("/images/interface/redstar.png");
}

.terrain.powerup{
	background-image:url("/images/interface/whitetriangle.png");
}

#combat #enemy{
	width:300px;
}

#combat #enemyimage{
	float:right;
}

#combat #combattext p{
	text-align:center;
}

#combat #wellbeingbars{
	width:95%;
	/*position:absolute;
	bottom:3px;*/
}

#combat #wellbeingbars .bar{
	height:1.3em;
	width:49%;
	background-color:#999;
}

#combat #wellbeingbars h3{
	margin:0px;
	clear:both;
	position:relative;
	top:-1.45em;
}

#combat #health{
	float:left;
}

#combat #energy{
	float:right;
}

.barfill{
	background-color:#ccc;
	border-color:#333;
	border-width:1px;
	border-style:solid;
	height:100%;
	position:relative;
	top:-1px;
}

.increase.barfill{
	background-color:#fff;
}

.decrease.barfill{
	background-color:#999;
}

.bar .barfill{
	float:left;
}

#combat #health .barfill{
	float:right;
}

#combat #energy .barfill{
	float:left;
}