#shop #shopinventory input[type="text"]{
	width:4em;
	text-align:right;
}

#shop #shopinventory img{
	vertical-align:middle;
}

#shop #shopinventory thead tr>*{
  text-align:center;
  border-bottom:1px black solid;
}

#shop #shopinventory tfoot tr>*{
  border-top:1px black solid;
}

#shop table{
  border-collapse:collapse;
}

#shop .itemicon{
	float:left;
	background-color:#fff;
}

#shop .itemicon + p{
	position:relative;
	top:4px;
	margin:0px;
	white-space:pre;
}